stages:
  - build
  - test
  - archive
  - export
  - deploy


workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"'
      when: never
    - when: always


variables:
  PUBLISH_TO:
    value: "none"
    description: "To whom build should be published, possible values: none, dev, internal"
  SKIP_BUILD:
    value: "false"
    description: "Run only deploy jobs. Values: true/false"

  VAULT_ADDR: "https://vault.aktivco.ru"
  FOLDER_ARTIFACTS: "artifacts"

  TART_IMAGE: tart-hosted.aktivco.ru/rutoken/macos-ios-dev:15.5_xcode-16.4

  MATCH_PASSWORD: ""
  KEYCHAIN_PASSWORD: "admin"
  KEY_ID: ""
  ISSUER_ID: ""
  API_KEY: "/tmp/api_key.p8"
  FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: 120

  LC_ALL: en_US.UTF-8
  LANG: en_US.UTF-8


include:
  - .ci/stage-*.yml
